<?xml version="1.0" encoding="utf-8" ?>
<robot name="depth_camera" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="M_PI" value="3.1415926535897931"/>

    <xacro:macro name="model_color" params="link_name color_name">
        <gazebo reference="${link_name}">
            <material>Gazebo/${color_name}</material>
            <turnGravityOff>false</turnGravityOff>
        </gazebo>
    </xacro:macro>

    <xacro:model_color link_name="depth_cam_link"       color_name="black"/>
    <xacro:model_color link_name="depth_cam_link_arm"   color_name="black"/>
</robot>
