<?xml version="1.0"?>
<!--orb_slam3深度-->
<launch>
    <arg name="depth_camera_name" default="depth_cam"/>

    <!--深度摄像头-->
    <include file="$(find hiwonder_peripherals)/launch/depth_cam.launch">
        <arg name="depth_camera_name" value="$(arg depth_camera_name)"/>
    </include>

    <!--底盘驱动(chassis driver)-->
    <include file="$(find hiwonder_controller)/launch/hiwonder_controller.launch"/>
    <node name="init_pose" pkg="hiwonder_slam" type="init_pose.py" output="screen">
        <param name="horizontal" value="true"/>
    </node>

    <!--手柄控制-->
    <include file="$(find hiwonder_peripherals)/launch/joystick_control.launch" >
        <arg name="max_linear"  value="0.15"/>
        <arg name="max_angular" value="0.5"/>
    </include>

    <node name="orb_slam3_rgbd" pkg="ORB_SLAM3" type="RGBD" output="screen" args="$(find ORB_SLAM3)/../../../Vocabulary/ORBvoc.txt $(find ORB_SLAM3)/../../RGB-D/TUM1.yaml">
        <remap from="/camera/rgb/image_raw"                 to="/$(arg depth_camera_name)/rgb/image_raw" />
        <remap from="/camera/depth_registered/image_raw"    to="/$(arg depth_camera_name)/depth/image_raw" />
    </node>
</launch>
