<?xml version="1.0"?>
<launch>
    <!--底盘驱动(chassis driver)-->
    <include file="$(find hiwonder_controller)/launch/hiwonder_controller.launch"/>
    <include file="$(find hiwonder_peripherals)/launch/depth_cam.launch">
        <arg name="depth_camera_type" value="AstraProPlus"/>
    </include>

    <node name="init_pose" pkg="hiwonder_slam" type="init_pose.py" output="screen"/>

    <node pkg="hiwonder_example" type="hand_gesture_detect.py" name="hand_gesture_detect" output="screen">
        <param name="start" value="true"/>
    </node>

    <node pkg="hiwonder_example" type="hand_gesture_control_node.py" name="hand_gesture_control_node" output="screen"/>
</launch>
