[Desktop Entry]
Name=Hand Gesture
Comment=Hand Gesture Program
Encoding=UTF-8
Exec=bash /home/hiwonder/ros_ws/src/hiwonder_example/scripts/hand_gesture_control/start.sh
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
