<?xml version="1.0"?>
<!--1-2.1:1.0  1-2.3:1.0-->
<!--1-2.2:1.0  1-2.4:1.0-->
<launch>
    <arg name="depth_camera_type"   value="$(env DEPTH_CAMERA_TYPE)"/>
    <arg name="astra_camera_name"   default="astra_camera" />
    <arg name="gemini_camera_name"  default="gemini_camera" />
    <arg name="image_topic"         default="image_raw" />
    <arg name="tf_prefix"           default="" />
    <arg name="app"                 default="false"/>

    <param name="astra_camera/camera_name"  value="$(arg astra_camera_name)"/>
    <param name="astra_camera/image_topic"  value="$(arg image_topic)"/>

    <param name="gemini_camera/camera_name"  value="$(arg gemini_camera_name)"/>
    <param name="gemini_camera/image_topic"  value="$(arg image_topic)"/>

    <include if="$(eval depth_camera_type != 'AstraProPlus')" file="$(find orbbec_camera)/launch/gemini.launch">
        <!--<arg name="app"     value="$(arg app)"/>-->
        <arg name="camera_name" value="$(arg gemini_camera_name)" />
        <arg name="tf_prefix"   value="$(arg tf_prefix)"/>
        <arg name="usb_port"    value="1-2.3.2"/>
        <arg name="device_num"  value="2"/>
    </include>

    <include file="$(find orbbec_camera)/launch/astra.launch">
        <!--<arg name="app"     value="$(arg app)"/>-->
        <arg name="camera_name" value="$(arg astra_camera_name)" />
        <arg name="tf_prefix"   value="$(arg tf_prefix)"/>
        <arg name="usb_port"    value="1-2.1.2.1"/>
        <arg if="$(eval depth_camera_type == 'AstraProPlus')" name="device_num"  value="1"/>
        <arg if="$(eval depth_camera_type != 'AstraProPlus')" name="device_num"  value="2"/>
    </include>
</launch>
