<?xml version="1.0"?>
<launch>
    <arg name="lidar_type"  default="$(env LIDAR_TYPE)" doc="lidar_type [S2L]"/>
    <arg name="scan_topic"  default="scan"/>
    <arg name="lidar_frame" default="lidar_frame"/>

    <!--    A1
        -180 180
     -90         90
            0
    -->
    <include if="$(eval lidar_type == 'S2L')" file="$(find hiwonder_peripherals)/launch/include/rplidar_s2.launch">
        <arg name="scanner_name"    value="$(arg scan_topic)" />
        <arg name="laser_frame"     value="$(arg lidar_frame)" />
    </include>
</launch>

