<?xml version="1.0"?>
<launch>
    <arg name="master"          default="$(env MASTER)"/>
    <arg name="robot_name"      default="$(env HOST)"/>
    <arg name="cmd_vel_topic"   default="/hiwonder_controller/cmd_vel"/>

    <group ns="$(arg robot_name)">
        <include file="$(find hiwonder_controller)/launch/hiwonder_controller.launch">
            <arg name="cmd_vel" value="$(arg cmd_vel_topic)"/>
        </include>
        <node name="init_pose" pkg="hiwonder_slam" type="init_pose.py" output="screen"/>
    </group>

    <include if="$(eval master == robot_name)" file="$(find hiwonder_multi)/launch/joy_control.launch"/>
</launch>
