<?xml version="1.0"?>
<launch>
    <arg name="master_name"  default="$(env MASTER)"/>
    <arg name="robot_name"   default="$(env HOST)"/>
    <arg name="target_robot" default="robot_1"/>

    <include file="$(find hiwonder_slam)/launch/include/hiwonder_robot.launch">
        <arg name="use_joy" value="false"/>
    </include>

    <include file="$(find hiwonder_navigation)/launch/include/navigation_base.launch"/>

    <include file="$(find hiwonder_multi)/launch/multi_navigation/include/add_costmap_layer.launch">
        <arg name="master_name"  value="$(arg master_name)"/>
        <arg name="robot_name"  value="$(arg robot_name)"/>
        <arg name="target_robot" value="$(arg target_robot)"/>
    </include>
</launch>
