<?xml version="1.0"?>
<!--颜色识别-->
<launch>
    <include file="$(find hiwonder_peripherals)/launch/depth_cam.launch"/>

    <node pkg="hiwonder_example" type="color_detect_node.py" name="color_detect" output="screen">
        <rosparam file="$(find hiwonder_example)/scripts/color_detect/roi.yaml" command="load"/>
    </node>
</launch>
