<?xml version="1.0" encoding="utf-8"?>
<robot name="hiwonder" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="lidar"        value="$(env LIDAR_TYPE)"/>
    <xacro:property name="machine"      value="$(env MACHINE_TYPE)"/>

    <xacro:include filename="$(find hiwonder_description)/urdf/materials.xacro"/>
    <xacro:include filename="$(find hiwonder_description)/urdf/inertial_matrix.xacro" />

    <xacro:if value="${lidar in ['A1', 'A2', 'C1', 'S2L', 'LD14P']}">
        <xacro:include filename="$(find hiwonder_description)/urdf/lidar_a1.urdf.xacro"/>
    </xacro:if>
    <xacro:if value="${lidar in ['G4']}">
        <xacro:include filename="$(find hiwonder_description)/urdf/lidar_g4.urdf.xacro"/>
    </xacro:if>

    <xacro:if value="${machine == 'JetRover_Mecanum'}">
        <xacro:include filename="$(find hiwonder_description)/urdf/car_mecanum.urdf.xacro"/>
        <xacro:include filename="$(find hiwonder_description)/urdf/lidar.urdf.xacro"/>
    </xacro:if>
    <xacro:if value="${machine == 'JetRover_Tank'}">
        <xacro:include filename="$(find hiwonder_description)/urdf/car_tank.urdf.xacro"/>
        <xacro:include filename="$(find hiwonder_description)/urdf/lidar.urdf.xacro"/>
    </xacro:if>
    <xacro:if value="${machine == 'JetRover_Acker'}">
        <xacro:include filename="$(find hiwonder_description)/urdf/car_acker.urdf.xacro"/>
        <xacro:include filename="$(find hiwonder_description)/urdf/lidar.urdf.xacro"/>
    </xacro:if>

    <xacro:include filename="$(find hiwonder_description)/urdf/imu.urdf.xacro"/>
    <xacro:include filename="$(find hiwonder_description)/urdf/depth_camera.urdf.xacro"/>
    <xacro:include filename="$(find hiwonder_description)/urdf/common.urdf.xacro"/>
    <xacro:include filename="$(find hiwonder_description)/urdf/connect.urdf.xacro"/>
    <xacro:include filename="$(find hiwonder_description)/urdf/arm.urdf.xacro"/>
    <xacro:include filename="$(find hiwonder_description)/urdf/arm.transmission.xacro"/>
    <xacro:include filename="$(find hiwonder_description)/urdf/gripper.urdf.xacro"/>
    <xacro:include filename="$(find hiwonder_description)/urdf/gripper.transmission.xacro"/>
</robot>
