<?xml version="1.0" encoding="utf-8"?>
<robot name="hiwonder" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="camera_type"      value="$(env DEPTH_CAMERA_TYPE)"/>
    <xacro:include filename="$(find hiwonder_description)/urdf/roslander.xacro"/>
    <xacro:include filename="$(find hiwonder_description)/urdf/gazebo/car.gazebo.xacro"/>
    <xacro:include filename="$(find hiwonder_description)/urdf/gazebo/screen.gazebo.xacro"/>
    <xacro:include filename="$(find hiwonder_description)/urdf/gazebo/depth_camera.gazebo.xacro"/>
    <xacro:include filename="$(find hiwonder_description)/urdf/gazebo/lidar.gazebo.xacro"/>
    <xacro:if value="${camera_type != 'AstraProPlus'}">
        <xacro:include filename="$(find hiwonder_description)/urdf/gazebo/arm.transmission.xacro"/>
        <xacro:include filename="$(find hiwonder_description)/urdf/gazebo/arm.gazebo.xacro"/>
        <xacro:include filename="$(find hiwonder_description)/urdf/gazebo/gripper.transmission.xacro"/>
        <xacro:include filename="$(find hiwonder_description)/urdf/gazebo/gripper.gazebo.xacro"/>
    </xacro:if>
</robot>
