<?xml version="1.0" encoding="utf-8"?>
<robot name="hiwonder" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="lidar"        value="$(env LIDAR_TYPE)"/>
  <xacro:include filename="$(find hiwonder_description)/urdf/inertial_matrix.xacro" />
  <xacro:include filename="$(find hiwonder_description)/urdf/materials.xacro"/>
  <xacro:property name="base_link_mass"     value="1.6" /> 
  <xacro:property name="base_link_w"        value="0.302"/>
  <xacro:property name="base_link_h"        value="0.145"/>
  <xacro:property name="base_link_d"        value="0.05"/>

  <xacro:property name="body_link_mass"     value="1.6" /> 
  <xacro:property name="body_link_w"        value="0.288"/>
  <xacro:property name="body_link_h"        value="0.145"/>
  <xacro:property name="body_link_d"        value="0.092"/>

  <xacro:property name="wheel_link_mass"    value="0.1" />
  <xacro:property name="wheel_link_radius"  value="0.049"/>
  <xacro:property name="wheel_link_length"  value="0.04167"/>

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.04" rpy="0 0 0"/>
  </joint>

  <link
    name="base_link">
    <xacro:box_inertial m="${base_link_mass}" w="${base_link_w}" h="${base_link_h}" d="${base_link_d}"/>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/base_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="-0.0015 0 ${base_link_d/2}"
        rpy="0 0 0" />
      <geometry>
        <box size="${base_link_w} ${base_link_h} ${base_link_d}" />
      </geometry>
    </collision>
  </link>
  <link
    name="body_link">
    <xacro:box_inertial m="${body_link_mass}" w="${body_link_w}" h="${body_link_h}" d="${body_link_d}"/>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/body_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="-0.005 0 ${body_link_d/2}"
        rpy="0 0 0" />
      <geometry>
        <box size="${body_link_w} ${body_link_h} ${body_link_d}" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_joint"
    type="fixed">
    <origin
      xyz="0 0 0.0496414362882255"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="body_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="0.000511582656730666 0.00023264437801222 -0.0101267638965091"
        rpy="0 0 0" />
      <mass
        value="0.165607195061176" />
      <inertia
        ixx="5.8847632803702E-05"
        ixy="4.64192506225023E-07"
        ixz="1.56622834751372E-07"
        iyy="5.97028055863307E-05"
        iyz="8.02856196156377E-08"
        izz="0.000108240525493285" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/lidar_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="0.0890864985819267 0 0.0650119118660841"
      rpy="0 0 3.14159265358979" />
    <parent
      link="body_link" />
    <child
      link="lidar_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="screen_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/screen_link_without_base.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0.012 0 0.01"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/screen_link_without_base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="screen_joint"
    type="fixed">
    <origin
      xyz="-0.12564232558058 0 0.18023036021671"
      rpy="0 ${M_PI/6} 0" />
    <parent
      link="body_link" />
    <child
      link="screen_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="depth_cam_link">
    <inertial>
      <origin
        xyz="-3.08199229505715E-06 0.00222700158480936 0.0221204661486996"
        rpy="0 0 0" />
      <mass value="0.00001" />
      <inertia
        ixx="10"
        ixy="0"
        ixz="0"
        iyy="10"
        iyz="0"
        izz="10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/depth_cam_link_with_base.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/depth_cam_link_with_base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0.0242158355469854 0 0.148"
      rpy="0 0 ${M_PI/2}" />
    <parent
      link="body_link" />
    <child
      link="depth_cam_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.09"
      upper="2.09"
      effort="1000"
      velocity="10" />
  </joint>
  <link
    name="wheel_front_right_link">
    <xacro:cylinder_inertial m="${wheel_link_mass}" r="${wheel_link_radius}" h="${wheel_link_length}" />
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/wheel_front_right_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0.003 0"
        rpy="${M_PI/2} 0 0" />
      <geometry>
        <cylinder length="${wheel_link_length}" radius="${wheel_link_radius}"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_front_right_joint"
    type="fixed">
    <origin
      xyz="0.096499 -0.1121 0.010864"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_front_right_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheel_front_left_link">
    <xacro:cylinder_inertial m="${wheel_link_mass}" r="${wheel_link_radius}" h="${wheel_link_length}" />
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/wheel_front_left_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 -0.003 0"
        rpy="${M_PI/2} 0 0" />
      <geometry>
        <cylinder length="${wheel_link_length}" radius="${wheel_link_radius}"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_front_left_joint"
    type="fixed">
    <origin
      xyz="0.096499 0.11216 0.010864"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_front_left_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheel_rear_left_link">
    <xacro:cylinder_inertial m="${wheel_link_mass}" r="${wheel_link_radius}" h="${wheel_link_length}" />
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/wheel_rear_left_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 -0.003 0"
        rpy="${M_PI/2} 0 0" />
      <geometry>
        <cylinder length="${wheel_link_length}" radius="${wheel_link_radius}"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_rear_left_joint"
    type="fixed">
    <origin
      xyz="-0.098528 0.11216 0.010864"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_rear_left_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheel_rear_right_link">
    <xacro:cylinder_inertial m="${wheel_link_mass}" r="${wheel_link_radius}" h="${wheel_link_length}" />
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/wheel_rear_right_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0.003 0"
        rpy="${M_PI/2} 0 0" />
      <geometry>
        <cylinder length="${wheel_link_length}" radius="${wheel_link_radius}"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_rear_right_joint"
    type="fixed">
    <origin
      xyz="-0.098528 -0.1121 0.010864"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_rear_right_link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link name="imu_link"/>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="-${0.297 - 0.1481 -0.064} 0 ${0.125963557909225 - 0.045}"
      rpy="0 0 ${M_PI}"/>
    <parent
      link="base_link"/>
    <child
      link="imu_link"/>
  </joint>
  <xacro:if value="${lidar in ['A1', 'A2', 'S2L']}">
    <xacro:include filename="$(find hiwonder_description)/urdf/lidar_a1.urdf.xacro"/>
  </xacro:if>
  <xacro:if value="${lidar == 'G4'}">
    <xacro:include filename="$(find hiwonder_description)/urdf/lidar_g4.urdf.xacro"/>
  </xacro:if>
</robot>
