<?xml version="1.0" encoding="utf-8"?>
<robot name="hiwonder" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="lidar"        value="$(env LIDAR_TYPE)"/>
  <xacro:include filename="$(find hiwonder_description)/urdf/inertial_matrix.xacro" />
  <xacro:include filename="$(find hiwonder_description)/urdf/materials.xacro"/>
  <xacro:property name="base_link_mass"     value="1.6" /> 
  <xacro:property name="base_link_w"        value="0.302"/>
  <xacro:property name="base_link_h"        value="0.145"/>
  <xacro:property name="base_link_d"        value="0.05"/>

  <xacro:property name="body_link_mass"     value="1.6" /> 
  <xacro:property name="body_link_w"        value="0.288"/>
  <xacro:property name="body_link_h"        value="0.145"/>
  <xacro:property name="body_link_d"        value="0.092"/>

  <xacro:property name="screen_link_mass"   value="0.5" /> 
  <xacro:property name="screen_link_w"      value="0.067"/>
  <xacro:property name="screen_link_h"      value="0.17"/>
  <xacro:property name="screen_link_d"      value="0.31"/>

  <xacro:property name="wheel_link_mass"    value="0.1" />
  <xacro:property name="wheel_link_radius"  value="0.049"/>
  <xacro:property name="wheel_link_length"  value="0.04167"/>

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.04" rpy="0 0 0"/>
  </joint>

  <link
    name="base_link">
    <xacro:box_inertial m="${base_link_mass}" w="${base_link_w}" h="${base_link_h}" d="${base_link_d}"/>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/base_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="-0.0015 0 ${base_link_d/2}"
        rpy="0 0 0" />
      <geometry>
        <box size="${base_link_w} ${base_link_h} ${base_link_d}" />
      </geometry>
    </collision>
  </link>
  <link
    name="body_link">
    <xacro:box_inertial m="${body_link_mass}" w="${body_link_w}" h="${body_link_h}" d="${body_link_d}"/>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/body_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="-0.005 0 ${body_link_d/2}"
        rpy="0 0 0" />
      <geometry>
        <box size="${body_link_w} ${body_link_h} ${body_link_d}" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_joint"
    type="fixed">
    <origin
      xyz="0 0 0.0496414362882255"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="body_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="0.000511582656730666 0.00023264437801222 -0.0101267638965091"
        rpy="0 0 0" />
      <mass
        value="0.165607195061176" />
      <inertia
        ixx="5.8847632803702E-05"
        ixy="4.64192506225023E-07"
        ixz="1.56622834751372E-07"
        iyy="5.97028055863307E-05"
        iyz="8.02856196156377E-08"
        izz="0.000108240525493285" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/lidar_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="0.0890864985819267 0 0.0650119118660841"
      rpy="0 0 3.14159265358979" />
    <parent
      link="body_link" />
    <child
      link="lidar_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="screen_link">
    <xacro:box_inertial m="${screen_link_mass}" w="${screen_link_w}" h="${screen_link_h}" d="${screen_link_d}"/>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/screen_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0.012 0 0.01"
        rpy="0 0 0" />
      <geometry>
        <box size="${screen_link_w} ${screen_link_h} ${screen_link_d}" />
      </geometry>
    </collision>
  </link>
  <joint
    name="screen_joint"
    type="fixed">
    <origin
      xyz="-0.15964232558058 0 0.236023036021671"
      rpy="0 0 0" />
    <parent
      link="body_link" />
    <child
      link="screen_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="depth_cam_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/depth_cam_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <joint
    name="depth_cam_joint"
    type="fixed">
    <origin
      xyz="0.0255053534641942 0 0.151269407648836"
      rpy="0 0 0" />
    <parent
      link="screen_link" />
    <child
      link="depth_cam_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-3.08199229505715E-06 0.00222700158480936 0.0221204661486996"
        rpy="0 0 0" />
      <mass value="0.00001" />
      <inertia
        ixx="10"
        ixy="0"
        ixz="0"
        iyy="10"
        iyz="0"
        izz="10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/link1.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0.0242158355469854 0 0.10038781456281"
      rpy="0 0 0" />
    <parent
      link="body_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.09"
      upper="2.09"
      effort="1000"
      velocity="10" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-6.14196622439646E-05 0.000501310181464599 0.0717730992576573"
        rpy="0 0 0" />
      <mass value="0.00001" />
      <inertia
        ixx="10"
        ixy="0"
        ixz="0"
        iyy="10"
        iyz="0"
        izz="10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/link2.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0 0.0353438388222273"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.8326"
      upper="1.8326"
      effort="1000"
      velocity="10" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="1.29619195029761E-05 0.000807679689685348 0.0717731397355716"
        rpy="0 0 0" />
      <mass value="0.00001" />
      <inertia
        ixx="10"
        ixy="0"
        ixz="0"
        iyy="10"
        iyz="0"
        izz="10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/link3.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 0 0.129311682614577"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.09"
      upper="2.09"
      effort="1000"
      velocity="10" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.000117652200128613 0.00166481375778722 0.0168007196434552"
        rpy="0 0 0" />
      <mass value="0.00001" />
      <inertia
        ixx="10"
        ixy="0"
        ixz="0"
        iyy="10"
        iyz="0"
        izz="10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/link4.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 0 0.129360132190811"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.09"
      upper="2.09"
      effort="1000"
      velocity="10" />
  </joint>
  <link
    name="gripper_base">
    <inertial>
      <origin
        xyz="0.0135164471754075 -0.00245409302071614 0.0255243476105937"
        rpy="0 0 0" />
      <mass
        value="0.0187986809487493" />
      <inertia
        ixx="4.18626999238256E-06"
        ixy="-2.76258595538016E-08"
        ixz="-7.69570071724482E-09"
        iyy="1.60184662496099E-06"
        iyz="2.25420771711905E-08"
        izz="3.29280750879291E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/gripper_base.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/gripper_base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_joint"
    type="fixed">
    <origin
      xyz="0 0 0.0415523547092036"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="gripper_base" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_link">
    <inertial>
      <origin
        xyz="4.5917753844606E-05 0.000541568299117931 0.00625139747060544"
        rpy="0 0 0" />
      <mass
        value="0.00206273118071422" />
      <inertia
        ixx="3.97236083071195E-07"
        ixy="-2.70823664638678E-10"
        ixz="-2.16820413734473E-09"
        iyy="3.22499205032185E-07"
        iyz="1.07452392164753E-08"
        izz="7.78636035301087E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/r_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/r_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_joint"
    type="revolute">
    <origin
      xyz="-0.0056586 -0.012538 0.027102"
      rpy="0 0 0" />
    <parent
      link="gripper_base" />
    <child
      link="r_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1000"
      velocity="2" />
  </joint>
  <link
    name="l_link">
    <inertial>
      <origin
        xyz="3.79169240065586E-05 -0.000411330229694192 0.00580564378864612"
        rpy="0 0 0" />
      <mass
        value="0.00218935442813927" />
      <inertia
        ixx="4.05423576726065E-07"
        ixy="3.5639084027101E-10"
        ixz="-1.96705902005403E-09"
        iyy="3.31275196418489E-07"
        iyz="-8.75686731441383E-09"
        izz="7.74603139284005E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/l_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/l_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_joint"
    type="revolute">
    <origin
      xyz="-0.0056772 0.015434 0.027105"
      rpy="0 0 0" />
    <parent
      link="gripper_base" />
    <child
      link="l_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1000"
      velocity="2" />
    <mimic
      joint="r_joint"
      multiplier="-1"
      offset="0" />
  </joint>
  <link
    name="r_in_link">
    <inertial>
      <origin
        xyz="0.00460054659575418 -2.07965839691421E-05 0.0144687504641022"
        rpy="0 0 0" />
      <mass
        value="0.000776937620409709" />
      <inertia
        ixx="9.8752111566072E-08"
        ixy="-5.02144302953861E-12"
        ixz="-6.7016858192728E-10"
        iyy="9.76692470887995E-08"
        iyz="-2.41388732380185E-13"
        izz="2.25760020432699E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/r_in_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/r_in_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_in_joint"
    type="revolute">
    <origin
      xyz="-0.0055067 -0.0035022 0.046066"
      rpy="0 0 0" />
    <parent
      link="gripper_base" />
    <child
      link="r_in_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1000"
      velocity="2" />
    <mimic
      joint="r_joint"
      multiplier="1"
      offset="0" />
  </joint>
  <link
    name="r_out_link">
    <inertial>
      <origin
        xyz="0.0045243213641785 -0.00255629096967728 0.0027220124845041"
        rpy="0 0 0" />
      <mass
        value="0.0027655444006415" />
      <inertia
        ixx="8.44587044099157E-07"
        ixy="-1.20731268872571E-09"
        ixz="-6.4565040218981E-09"
        iyy="7.92218847050392E-07"
        iyz="-1.49261377126586E-07"
        izz="5.66223350109746E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/r_out_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/r_out_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_out_joint"
    type="revolute">
    <origin
      xyz="0.0002014 0 0.028999"
      rpy="0 0 0" />
    <parent
      link="r_in_link" />
    <child
      link="r_out_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1000"
      velocity="2" />
    <mimic
      joint="r_joint"
      multiplier="-1"
      offset="0" />
  </joint>
  <link
    name="l_in_link">
    <inertial>
      <origin
        xyz="0.00460054381858996 2.08069632397171E-05 0.0144683574936163"
        rpy="0 0 0" />
      <mass
        value="0.00077693762040967" />
      <inertia
        ixx="9.8751540663328E-08"
        ixy="5.04379851632071E-12"
        ixz="-6.70531143176801E-10"
        iyy="9.76688157852237E-08"
        iyz="6.9313275984558E-14"
        izz="2.25747116037205E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/l_in_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/l_in_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_in_joint"
    type="revolute">
    <origin
      xyz="-0.0055067 0.0063964 0.046066"
      rpy="0 0 0" />
    <parent
      link="gripper_base" />
    <child
      link="l_in_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1000"
      velocity="2" />
    <mimic
      joint="r_joint"
      multiplier="-1"
      offset="0" />
  </joint>
  <link
    name="l_out_link">
    <inertial>
      <origin
        xyz="0.00452432641365978 0.00255625771382197 0.002722083089996"
        rpy="0 0 0" />
      <mass
        value="0.00276553337862614" />
      <inertia
        ixx="8.44578540713377E-07"
        ixy="1.2072399327257E-09"
        ixz="-6.45614065086473E-09"
        iyy="7.92214274718294E-07"
        iyz="1.49259239755556E-07"
        izz="5.66183628827531E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/l_out_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/l_out_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_out_joint"
    type="revolute">
    <origin
      xyz="0.0002014 0 0.028999"
      rpy="0 0 0" />
    <parent
      link="l_in_link" />
    <child
      link="l_out_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1000"
      velocity="2" />
    <mimic
      joint="r_joint"
      multiplier="1"
      offset="0" />
  </joint>
  <link
    name="usb_cam_link">
    <inertial>
      <origin
        xyz="0.0032878 0.0014572 -0.014183"
        rpy="0 0 0" />
      <mass
        value="0.0076756" />
      <inertia
        ixx="1.2365E-06"
        ixy="-1.2499E-13"
        ixz="9.8257E-08"
        iyy="1.2963E-06"
        iyz="9.8943E-13"
        izz="2.2868E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/usb_cam_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/usb_cam_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="usb_cam_joint"
    type="fixed">
    <origin
      xyz="-0.036206 0 0.05478"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="usb_cam_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheel_front_right_link">
    <xacro:cylinder_inertial m="${wheel_link_mass}" r="${wheel_link_radius}" h="${wheel_link_length}" />
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/wheel_front_right_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0.003 0"
        rpy="${M_PI/2} 0 0" />
      <geometry>
        <cylinder length="${wheel_link_length}" radius="${wheel_link_radius}"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_front_right_joint"
    type="fixed">
    <origin
      xyz="0.096499 -0.1121 0.010864"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_front_right_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheel_front_left_link">
    <xacro:cylinder_inertial m="${wheel_link_mass}" r="${wheel_link_radius}" h="${wheel_link_length}" />
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/wheel_front_left_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 -0.003 0"
        rpy="${M_PI/2} 0 0" />
      <geometry>
        <cylinder length="${wheel_link_length}" radius="${wheel_link_radius}"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_front_left_joint"
    type="fixed">
    <origin
      xyz="0.096499 0.11216 0.010864"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_front_left_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheel_rear_left_link">
    <xacro:cylinder_inertial m="${wheel_link_mass}" r="${wheel_link_radius}" h="${wheel_link_length}" />
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/wheel_rear_left_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 -0.003 0"
        rpy="${M_PI/2} 0 0" />
      <geometry>
        <cylinder length="${wheel_link_length}" radius="${wheel_link_radius}"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_rear_left_joint"
    type="fixed">
    <origin
      xyz="-0.098528 0.11216 0.010864"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_rear_left_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheel_rear_right_link">
    <xacro:cylinder_inertial m="${wheel_link_mass}" r="${wheel_link_radius}" h="${wheel_link_length}" />
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hiwonder_description/meshes/wheel_rear_right_link.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0.003 0"
        rpy="${M_PI/2} 0 0" />
      <geometry>
        <cylinder length="${wheel_link_length}" radius="${wheel_link_radius}"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_rear_right_joint"
    type="fixed">
    <origin
      xyz="-0.098528 -0.1121 0.010864"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_rear_right_link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <!-- end effector link -->
  <link name="end_effector_link" />

  <joint name="end_effector_joint" type="fixed">
    <origin xyz="0 0 0.14" rpy="0 0 0"/>
    <parent link="link4"/>
    <child link="end_effector_link"/>
  </joint>

  <link name="imu_link"/>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="-${0.297 - 0.1481 -0.064} 0 ${0.125963557909225 - 0.045}"
      rpy="0 0 ${M_PI}"/>
    <parent
      link="base_link"/>
    <child
      link="imu_link"/>
  </joint>
  <xacro:if value="${lidar in ['A1', 'A2', 'S2L']}">
    <xacro:include filename="$(find hiwonder_description)/urdf/lidar_a1.urdf.xacro"/>
  </xacro:if>
  <xacro:if value="${lidar == 'G4'}">
    <xacro:include filename="$(find hiwonder_description)/urdf/lidar_g4.urdf.xacro"/>
  </xacro:if>
</robot>
