<?xml version="1.0"?>
<launch>
    <!--robot_2———(0.5m)———robot_1-->
    <arg name="map"         default=""/>
    <arg name="radius"      default="0.5"/>

    <include file="$(find hiwonder_navigation)/launch/include/load_map.launch">
        <arg name="map" value="$(arg map)"/>
    </include>

    <include file="$(find hiwonder_slam)/launch/include/hiwonder_robot.launch">
        <arg name="use_joy" value="false"/>
    </include>

    <include file="$(find hiwonder_multi)/launch/multi_surround/include/surround_navigation.launch">
        <arg name="radius"  value="$(arg radius)"/>
    </include>

    <include file="$(find hiwonder_multi)/launch/multi_surround/include/multi_surround.launch">
        <arg name="radius" value="$(arg radius)"/>
    </include>

   <include file="$(find hiwonder_multi)/launch/joy_control.launch">
        <arg name="remap_cmd_vel"   value="/$(env MASTER)/hiwonder_controller/cmd_vel"/>
    </include>
</launch>
