[Unit]
Description=start node
After=NetworkManager.service time-sync.target

[Service]
Type=simple
User=hiwonder
Restart=always
RestartSec=30
KillMode=mixed
ExecStart=/home/hiwonder/ros_ws/src/hiwonder_bringup/scripts/source_env.bash roslaunch hiwonder_bringup bringup.launch
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
