<?xml version="1.0"?>
<!--跌倒检测-->
<launch>
    <include file="$(find hiwonder_peripherals)/launch/depth_cam.launch"/>
    <!--底盘驱动(chassis driver)-->
    <include file="$(find hiwonder_controller)/launch/hiwonder_controller.launch"/>

    <node pkg="hiwonder_example" type="fall_down_detect.py" name="fall_down_detect" output="screen"/>
</launch>
